.app-contanier {
  &.filter {
    height: 100%;
    background: url('@/assets/images/profilebg.png') no-repeat center;
    background-size: cover;
    flex-direction: column;
  }
  .filter-header {
    display: flex;
    padding-bottom: 9px;
    margin: 129px 37px 0 33px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.5);
    .filter-left {
      display: flex;
      align-items: center;
      .title {
        color: #000;
        font-size: 20px;
        font-weight: 800;
        margin-right: 225px;
      }
      .filter-type {
        display: flex;
        .btn {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 12px;
          height: 32px;
          border: 1px solid #000;
          opacity: 0.5;
          box-sizing: border-box;
          border-radius: 4px;
          cursor: pointer;
          &.jeer {
            width: 61px;
          }
          &.jeer-girls {
            width: 105px;
          }
          &:hover {
            border-width: 2px;
            font-size: 16px;
            font-weight: 800;
          }
        }
      }
    }
    .filter-right {
      display: flex;
      align-items: center;
      .count {
        margin-right: 12px;
        color: #000;
        font-size: 16px;
        font-weight: 300;
      }
      .refresh {
        display: flex;
        align-items: center;
      }
      .rotateing {
        transform-origin: center center;
        animation: move 1s linear infinite;
      }
    }
  }
  .filter-contanier {
    display: flex;
    margin-top: 24px;
    padding: 0 37px 0 33px;
    .filters {
      width: 250px;
      margin-right: 50px;
      .filter-item {
        margin-bottom: 10px;
        .filter-input {
          border-bottom: 1px solid rgba(122, 122, 122, 0.5);
          padding: 10px 13px 10px 0;
          display: flex;
          align-items: center;
          input {
            padding-left: 11px;
            border: none;
            background: transparent;
            outline: none;
            width: 100%;
            font-size: 14px;
            font-weight: 300;
            color: #7a7a7a;
          }
        }
      }
    }
    .filter-result {
      display: flex;
      flex: 1;
      justify-content: center;
      .result-list {
        height: calc(100vh - 332px);
        overflow-y: scroll;
        padding: 0 5px 0 0;
        display: flex;
        flex-wrap: wrap;
        width: 940px;
        justify-content: center;
        .list-items {
          height: 200px;
          width: 200px;
          margin-right: 35px;
          margin-bottom: 50px;
          flex-shrink: 0;
          border-radius: 7px;
          cursor: pointer;
          background: #fff;
        }
      }
    }
  }
}

@keyframes move {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
