.app-contanier {
  &.profile {
    background: url('@/assets/images/profilebg.png') no-repeat center;
    background-size: cover;
  }
  .contanier {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .avatar {
      position: relative;
      margin-left: 112px;
      height: 400px;
      width: 400px;
      background: #fff;
      border-radius: 7px;
      overflow: hidden;
      .info {
        position: absolute;
        width: 100%;
        bottom: 0;
        padding: 5px 10px 7px 6px;
        text-align: center;
        background: linear-gradient(0deg, #fff -21.52%, rgba(255, 255, 255, 0) 105.75%);
        opacity: 0.88;
        backdrop-filter: blur(2px);
        color: rgba(255, 255, 255, 0.9);
        font-size: 20px;
        font-weight: 800;
        line-height: 26px;
        .line {
          height: 1px;
          border-radius: 10px 10px 0px 0px;
          background: linear-gradient(
            90deg,
            rgba(249, 248, 247, 0) 0%,
            #fbfafa 9.09%,
            rgba(249, 248, 247, 0) 100%
          );
          background-blend-mode: overlay;
        }
      }
      img {
        height: 100%;
      }
    }
    .attrs {
      width: 305px;
      padding-right: 47px;
      .emblems {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      .emblems-items {
        width: 124px;
        display: flex;
        align-items: center;
        margin-bottom: 21px;
        .status-img {
          margin-right: 9px;
          flex-shrink: 0;
          height: 40px;
          width: 40px;
          border-radius: 40px;
          background: #d9d9d9;
          box-sizing: border-box;
          &.active {
            background: url('@/assets/images/profile/active.png') no-repeat center;
            border: 2px solid #000;
            background-size: cover;
          }
        }
        .title {
          color: #000;
          font-size: 16px;
          font-weight: 800;
        }
      }
      .name {
        margin-bottom: 20px;
        color: #000;
        text-align: center;
        font-size: 33px;
        font-weight: 800;
      }
      .account,
      .address {
        display: flex;
        margin-bottom: 18px;
        .info {
          margin-left: 25px;
        }
        .type {
          color: rgba(0, 0, 0, 0.33);
          font-family: Jeer;
          font-size: 10px;
          font-weight: 400;
        }
      }
      .account .value {
        color: #06a5ff;
        font-family: Jeer;
        font-size: 14px;
        font-weight: 400;
      }
      .btn-group {
        display: flex;
        .btn {
          height: 31px;
          margin-right: 11px;
          padding: 0 18px;
          line-height: 31px;
          border-radius: 5px;
          background: linear-gradient(
            0deg,
            rgba(75, 75, 75, 0.5) -21.52%,
            rgba(255, 255, 255, 0) 127.16%
          );
          opacity: 0.77;
          backdrop-filter: blur(2px);
          cursor: pointer;
        }
        .edit-icon {
          display: inline-block;
          width: 10px;
          height: 10px;
          background: url('@/assets/images/profile/edit.png') no-repeat center;
          background-size: cover;
        }
      }
    }
  }
}
